body {
    background-color: #f0f2f5;
}

#blogList {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.blog-item {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.blog-item:last-child {
    border-bottom: none;
}

h1, h2 {
    color: #333;
}

.btn-delete {
    background-color: #e60000;
    color: #fff;
}
